In [ ]:
#Theory Questions:

1. What are data structures, and why are they important?
-> Data Structures are ways of organizing and storing data so that it can be accessed and modified efficiently.
Example: List, tuple,set dictionary string and so on.
They are important so that we can store the data required for computation in them and use as necessary.

2. Explain the difference between mutable and immutable data types with examples?
-> Mutable data types mean data types where we can modify the original data and Immutable data types means data types where we cannot modify the data.
both these types are important based on scenario if we want the functionality where we want to decide if we want to have the ability to modify the data or not.

Mutable: List, dictionary etc are type of mutable data types where we can update/modify the original data.
String/Tuple: are example of DS where we cannot update their orginal information. used to store critical non-updatable kind of data say user id of an employee etc.

3. What are the main differences between lists and tuples in Python?
->The main difference between lists and tuple is that - lists are mutable and tuples are immutable. if we are storing any data which can be updated at later point of time - we have to use lists or when data should not be updated - then we have to use tuple.
Syntax my_list = [1,2,3]
my_tuple = (1,2,3)

4. Describe how dictionaries store data?
-> Dictionary store the data in key value pair, where we can access al the values stored in dictionary using their respective keys.
eg: my_dict = {'name': 'Prateek', 'class': 'Data science with Gen AI'}
we can call; my_dict{'name'} to get the name of the student and so on. Values can be accessed via key.

5. Why might you use a set instead of a list in Python?
-> We will use set instead of a list when we only want unique elements and no duplicates.

6. What is a string in Python, and how is it different from a list?
-> Strings are used to set a sequence of characters. String is a immutable data set whereas list is mutable. list can hold many different type of values at a time like number, string, float, boolean etc.

7. How do tuples ensure data integrity in Python?
->Tuples ensure data integrity mainly by being immutable — once a tuple is created, its contents cannot be changed. This property makes tuple preferred when we want to protect the data from modification.

8. What is a hash table, and how does it relate to dictionaries in Python?
-> A hash table is a data structure that stores key-value pairs and allows fast access to values using their keys.
Dictionaries are implemented using hash tables. i.e they access a block of memory using 'key' directly, saving lot of time looking up for data. Hash functions are used where this key is passed through these hash functions to locate the memory index.

 9. Can lists contain different data types in Python?
 -> Yes, lists can contain different types of data types like string, list themselves, float, boolean etc. It can hold heterogenous type of information at once.
 eg: my_list = [1,'Hello', True, 3.0, [1,2,3]] and so on

10. Explain why strings are immutable in Python?
-> Strings are immutable in python which means we cannot update any paricular character of a string. eg: my_str = "hello", we cannot do this operation: my_str[0] = 'K' # this doesn't change the value to 'Kello', it throws an error.

why is this important?
To ensure efficiency and consistency across python eg: strings are used as Key for dictionary as well. If these values can be updated/modified, it won't be possible to use keys for getting respective values from dictionary as well. because the keys could then be odified at any place and so on.

11. What advantages do dictionaries offer over lists for certain tasks?
-> Dictionaries are relatively quicker when operational efficiency is of concern, we can fetch the values quickly as data is stored in terms of hash tables. they are clearly mapped using key value combination and offer similar fuctionality as Lists in terms of built-in methods/functions. In lists, functions are based out on ordering like lst[0] etc where 0 is the index position, when data is huge it's better to access elements by their keys instead of index position.

12. Describe a scenario where using a tuple would be preferable over a list?
-> Any scenario where we do not want the data to be modified is when tuple is preferred over list. Eg: Employee id in any organization, they must be unique and non-modifiable. Always point to the same person. This is when you define a tuple which correctly stores the eployee id, without giving any option for modifying the data.

13. How do sets handle duplicate values in Python?
-> Sets automaticlly removes the duplicate from the set element, they are hasable that means it checks all the memory locations if the item is already available in the set or not. if elements is present, it does not store the elemet again, if not - it adds the element to the set.

14. How does the “in” keyword work differently for lists and dictionaries?
-> 'in' keyword in lists looks out fo value if present or not in list whereas in keyword in dctionary search by default only for key in the dicionary which makes search quicker.

15. Can you modify the elements of a tuple? Explain why or why not?
-> No we cannot modify tuple directly as by definition it is an immutable data structure but if elements inside tuple are mutable then these elements can be modified.
eg: mt = (1,2,[2,3])
mt[2][1] = 100
mt -> (1,2,[100,3])

16. What is a nested dictionary, and give an example of its use case?
-> Nested dictionary basically means dictionary inside a dictionary. eg: it can be used to maintain employee information like below:
EMployee = {'100':{'name': 'Prateek', 'Salary': 10000}'101':{'name': 'XYZ', 'Salary':20000}} where 100 and 200 are keys to employees Prateek and XYZ respectively which can be their employee id. and inner dictionary holds all their information like name, salary and so on.

17. Describe the time complexity of accessing elements in a dictionary?
-> Values are stored in dictionary in form of Key and value pairs. These keys in turn are stored in a hash table using hash function which reduces the time require for accessing values. the time complexity is hence O(1)

18. In what situations are lists preferred over dictionaries?
-> Generally for mathematical tasks where duplicate data could be present as well ordering is maintained. The activities where we need collection of values, we can use lists otherwise where data can be accessed through keys then we can go with dictionary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-> Dictionaries are considered unordered as the index when you insert an element into dictionary and while retrieving the same element could be different. In Dictionary elements are accessed via 'keys' and not 'indexing'. This affects the data retrieval process because we do not know in which index the required data is present.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
-> In lists the data is stored in the same manner the way it is inserted in the list. the index is preserved. If we insert an element first, it will always remain in the first index whereas in dictionary there is no concept of indexing instead values are retrieved using a key-value combination. In terms of data retrieval, for lists- we have to loop through all elements of list to get the required value hence time required is O(n) whereas data is retrieved via key in dictionary which are stored in hash tables. Hence, time is O(1).

#####Practical Questions#########

In [1]:
#1. Write a code to create a string with your name and print it
name = 'Prateek'
print(name)

Prateek

In [2]:
#2 Write a code to find the length of the string "Hello World"
str = 'Hello World'
print(len(str))

11

In [3]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"
str = 'Python Programming'
print(str[0:3])

Pyt

In [4]:
#4 Write a code to convert the string "hello" to uppercase
str = "hello"
print(str.upper())

HELLO

In [5]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
str = "I like apple"
updated_str = str.replace("apple", "orange")
print(updated_str)

I like orange

In [6]:
#6 Write a code to create a list with numbers 1 to 5 and print it
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [7]:
#7 P Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [10]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [11]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [12]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [13]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15)
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [14]:
#14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t = ('dog', 'cat', 'rabbit')
ind = t.index('cat')
print (ind)

1

In [15]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t= ('apple', 'orange', 'kiwi')

print ('kiwi' in t)

True

In [16]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [17]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [19]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [21]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict = {'name': 'abc', 'age': 20, 'city': 'xyz'}
print(dict)

{'name': 'abc', 'age': 20, 'city': 'xyz'}

In [22]:
#22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict = {'name': 'John', 'age': 25}
dict['country'] = 'USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [24]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict)

True

In [27]:
#26  Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3]
my_tuple = (1,2,3)
my_dict = {'name': 'abc', 'age': 20, 'city': 'xyz'}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(1, 2, 3)
{'name': 'abc', 'age': 20, 'city': 'xyz'}

In [31]:
#27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
l = []
#generating a list of 5 random numbers between 1 to 100
l = random.sample(range(1,101),5)
#Soring list item
l.sort()
print(l)

[49, 58, 68, 71, 78]

In [33]:
#28 Write a code to create a list with strings and print the element at the third index
my_list = ['abc', 'xyz', 'pqr', 'lmn']
print(my_list[3])

lmn

In [34]:
#29  Write a code to combine two dictionaries into one and print the result.
dic1 = {'name': 'Prateek', 'age': 20}
dic2 = {'company': 'xyz', 'designation':'pqr'}

#Combined dictionary
new_dic = dic1 | dic2
print(new_dic)

{'name': 'Prateek', 'age': 20, 'company': 'xyz', 'designation': 'pqr'}

In [35]:
#30  Write a code to convert a list of strings into a set.

my_lst = ['apple', 'mango', 'hello', 'world']
my_set  = set(my_lst)
print(my_set)

{'hello', 'apple', 'mango', 'world'}